<!DOCTYPE html>
<html lang="pt-br" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styleIndex.css">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <title>Document</title>
</head>
<body>

    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <header>
      <div th:replace="~{fragmentos/fragmentos :: cabecalho}"></div>
    </header>
    
      
</body>
</html>